<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
    <title>Axon</title>
</head>

<body>
    <partial name="_NavBar">
    <div class="contentContainer">
        <div class="headliner">
            <a>About</a>

            <div class="content">
                <h1>What is Axon?</h1>
                <p>
                    Axon is a healthcare management web app
                    built for healthcare professionals working 
                    in either inpatient or outpatient settings.
                    It aims to provide an interface where
                    users can easily access workflow data - while
                    being able to manage patient care information at
                    the same time.
                </p>

                <h1>Who built it?</h1>
                <p>
                    Michael Catapang built Axon. A recent 
                    University of California, Irvine alumnus,
                    he has since pivoted from law to software 
                    development. He started his coding
                    journey in March of 2022 while taking
                    university pre-law courses as a Senior.
                    In the short amount of time since he started
                    coding, Michael has been able to learn
                    and utilize multiple languages, frameworks, 
                    and tools with great capability.
                </p>

                <h1>Why was it created?</h1>
                <p>
                    Axon was created by Michael as his submission
                    for Coding Dojo's monthly <i>Project Week</i>.
                    Built in less than 5 days, it is an
                    accumulation of the knowledge and practice that
                    Michael received from the Dojo's 20-day <i>C# / 
                    ASP.NET Core</i> stack (with the exception of 
                    some features that Michael taught himself).
                </p>
            </div>
        </div>
    </div>
    <partial name="_Footer">
</body>

</html>