@model Contact

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Axon</title>
</head>

<body>
    <partial name="_NavBar">
    <div class="contentContainer">
        <div class="headliner">
            <a>Contact</a>

            <div class="content">
                @if(ViewBag.Message == null)
                {
                    <form asp-action="Contacting" asp-controller="FooterDiv" class="formInputsAreaSolo contactForm" method="post">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName">
                        <span asp-validation-for="FullName"></span>

                        <label asp-for="EmailAddress"></label>
                        <input asp-for="EmailAddress">
                        <span asp-validation-for="EmailAddress"></span>

                        <label asp-for="Message"></label>
                        <textarea asp-for="Message">
                        </textarea>
                        <span asp-validation-for="Message"></span>

                        <button type="submit">Send</button>
                    </form>
                }
                else
                {
                    <h1 style="text-align: center">
                        Thank you for reaching out!
                        <br>
                        You'll receive a response within
                        5 business days.
                    </h1>
                }
            </div>
        </div>
    </div>
    <partial name="_Footer">
<script src="/script/script.js"></script>
</body>

</html>