@{
    Dictionary<string, string> options = new Dictionary<string, string>()
    {
        {"Add Patient", "AddPatient"},
        {"Add Chart", "AddChart"},
        {"Settings", "Settings"},
        {"Logout", "Logout"}
    };
    string? ActiveLink = Context.Session.GetString("ActiveLink");
}

<div id="optionsDropdown">
    @foreach (var opt in options)
    {
        if(ActiveLink == opt.Key)
        {
            <a asp-action="@opt.Value" asp-controller="DashDiv" style="color: #0095ff">
                @opt.Key
            </a>
        }
        else
        {
            <a asp-action="@opt.Value" asp-controller="DashDiv">
                @opt.Key
            </a>
        }
        
    }
</div>