<link rel="stylesheet" href="/css/style.css">
<div class="footer">
    <a href="/about">
        <h3>About</h3>
    </a>
    <a href="/contact">
        <h3>Contact Us</h3>
    </a>
    <a href="https://github.com/MCatapang/Axon" target="_blank">
        <h3>Github</h3>
    </a>
</div>