<link rel="stylesheet" href="/css/style.css">
<div id="userHeader" class="textShadow">
    <div id="userIconContainer">
        <img id="userIcon" src="/images/User.png">
    </div>
    <div id="userInfo">
        <div id="innerUserInfo">
            <div id="userName">
                <h1>FirstName L.</h1>
            </div>
            <div id="userOther">
                <h2>Attending: Dr. Krabby Krabs</h2>
                <h2>Shift Runtime: 00:00:00</h2>
            </div>
        </div>
    </div>
</div>