@model Employee

<link rel="stylesheet" href="/css/style.css">
<div id="userHeader" class="textShadow">
    <div id="userIconContainer">
        <img id="userIcon" src="/images/User.png">
    </div>
    <div id="userInfo">
        <div id="innerUserInfo">
            <div id="userName">
                <h1>@Model.FirstName @Model.LastName.Substring(0, 1).</h1>
                <h4><a>Position:</a> @Model.PrimaryRole</h4>
            </div>
            <div id="userOther">
                <h2><a>Facility:</a> @Model.Facility</h2>
                <h2><a>Local Time:</a> <div id="clock"></div></h2>
            </div>
        </div>
    </div>
</div>