@model Chart

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/dashScript.js" defer></script>
    <title>Axon</title>
</head>
<body>
    <partial name="_NavBar"></partial>
    <partial name="_Dropdown"></partial>
    <div class="genContainerNoUH">
        <form class="section" asp-action="Charting" 
        asp-controller="DashDiv" method="post">
            <div class="sectionHeader">
                <h1>Chart Entry</h1>
            </div>
            <div class="sectionContent formContent">
                <label>Patient Name</label>
                <select asp-for="PatientID">
                    @foreach (Patient opt in ViewBag.PatientOptions)
                    {
                        <option value="@opt.PatientID">
                            @opt.LastName, @opt.FirstName
                        </option>
                    }
                </select>
                <span asp-validation-for="PatientID"></span>

                <label asp-for="Content"></label>
                <textarea asp-for="Content"></textarea>
                <span asp-validation-for="Content"></span>

                <input asp-for="EmployeeID" type="hidden" value="@ViewBag.employeeID">

                <input type="submit" value="Create">
            </div>
        </form>

    </div>
</body>
</html>