@model Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/dashScript.js" defer></script>
    <title>Axon</title>
</head>
<body>
    <partial name="_NavBar"></partial>
    <partial name="_Dropdown"></partial>
    <div class="dashboardContainer">
        <partial name="_UserHeader" model="Model"></partial>
        <div id="userContent">
            <partial name="/Views/Shared/_UserPatient.cshtml">
            <partial name="/Views/Shared/_UserShift.cshtml">
        </div>
    </div>
</body>
</html>