<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
    <title>Axon</title>
</head>

<body>
    <partial name="_NavBar">
    <div class="contentContainer">
        <div class="catchphrase">
            A better way to manage healthcare.
            <a href="/register">Get started.</a>
        </div>
    </div>
    <partial name="_Footer">
</body>

</html>