@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* General */
html, body {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    min-height: 800px;
    max-height: fit-content;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
}
a {
    text-decoration: none;
    color: #e4e4e4;
}
a:hover {
    color: #0095ff;
}
.contentContainer {
    margin: 0px;
    padding: 200px 0px 100px 0px;
    width: 100%;
    height: fit-content;
    background: url("/images/HomeBackground.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}


/* Navigation Bar and Footer */
.navBar, .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: #e4e4e4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #1a1a1a;
    min-width: 800px;
}
.navBar {
    z-index: 9998;
    height: 125px;
    justify-content: space-between;
    color: #e4e4e4;
    box-shadow: 0px 10px 25px #1a1a1a99;
    position: fixed;
    top: 0px;
    transition: 0.25s;
}
.navBar a {
    transition: 0.25s;
}
.navBar a:last-child {
    transition: 0.25s;
}
#navLogo {
    margin: 0px 0px 0px 20px;
    padding: 0px;
    font-size: 75px;
    transition: 0.25s;
    cursor: default;
}
#navLinkContainer {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    transition: 0.25s;
}
#moreOptions {
    cursor: pointer;
}
#optionsDropdown {
    margin: 0px 0px 0px auto;
    padding: 0px;
    width: 300px;
    height: fit-content;
    background-color: #1a1a1a;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    position: fixed;
    top: -1000px;
    right: 0px;
    border-radius: 0px 0px 8px 8px;
    z-index: 9997;
    box-shadow: 0px 10px 25px #1a1a1a99;
    opacity: 0;
    transition: 0.25s;
}
#optionsDropdown > * {
    margin: 0px;
    padding: 0px;
    height: 50px;
}
#optionsDropdown a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#optionsDropdown a:hover {
    background-color: #e4e4e4;
}
#optionsDropdown > a:last-child {
    border-radius: 0px 0px 8px 8px;
}
#optionsDropdown > a:last-child:hover {
    color: #ffffff;
    background-color: #e13636;
}
.footer {
    height: 75px;
    justify-content: center;
}
.footer h3 {
    margin: 0px 30px;
    transition: 0.25s;
}


/* Home, About, and Contact */
.headliner {
    align-self: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 30px;
    width: 90%;
    height: fit-content;
    font-size: 140px;
    line-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 8px 8px 10px #1a1a1a99;
    color: #e4e4e4;
    background-color: #1a1a1a99;
    border-radius: 8px;
    text-align: center;
}
.headliner * {
    margin: 0px;
    padding: 0px;
    height: fit-content;
}
.headliner a {
    color: #0095ff;
}
.content {
    margin: 0px 0px 50px 0px;
    padding: 0px;
    width: 95%;
    font-size: 20px;
    text-shadow: none;
    text-align: left;
    background-color: #1a1a1a99;
    border-radius: 8px;
}
.content h1, .content p {
    line-height:normal;
}
.content h1 {
    margin: 20px;
    color: #ffffff;
    text-shadow: 5px 5px 15px #1a1a1a;
}
.content p {
    margin: 20px 20px 40px 20px;
    text-indent: 50px;
}


/* Register, Login, and Contact Forms */
.formContainer {
    background: #e4e4e4;
    height: fit-content;
}
.formHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #0095ff;
}
.formContainer h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px;
    width: fit-content;
    line-height: 120px;
    color: #ffffff;
    text-align: center;
    align-content: center;
    font-size: 75px;
}
.formContainer img {
    margin: auto 20px;
    width: 8%;
    height: 8%;
    filter: invert();
}
.formContainer > form {
    margin: 0px 0px 0px 0px;
    padding: 1%;
    width: 85%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 8px;
}
hr {
    opacity: 20%;
}
.formInputsArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 25px;
}
.formInputsAreaSolo {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    font-size: 25px;
    height: fit-content;
}
.formInputsArea > div {
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.formInputsArea label, .formInputsAreaSolo label {
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}
.formInputsArea input, .formInputsArea select, 
.formInputsAreaSolo input, .formInputsArea select, .contactForm textarea {
    width: 45%;
    border-style: solid;
    border-color: #0095ff;
    border-radius: 8px;
    font-size: 25px;
}
form span {
    color: red;
}
form button {
    margin: 40px;
    border-style: none;
    width: 200px;
    background-color: #0095ff;
    color: #ffffff;
    font-size: 50px;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: #0095ff;
    transition: 0.1s;
    font-weight: bold;
}
form button:hover {
    transform: scale(1.1)
}
form button:active {
    background-color: #ffffff;
    color: #0095ff;
}
.contactForm {
    height: fit-content;
    padding: 40px 0px 50px 0px;
}
.contactForm label {
    line-height: normal;
}
.contactForm textarea {
    height: 300px;
    resize: none;
}
.contactForm span {
    line-height: normal;
}
.contactForm button {
    margin: 40px 0px 0px 0px;
}


/* Dashboard */
.textShadow {
    text-shadow: 10px 10px 10px #1a1a1a99;
}
.dashboardContainer {
    margin: 0px;
    padding: 150px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    background: url("/images/DashboardBackground.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
}

#userHeader {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#userIconContainer {
    margin: -1px;
    padding: 0px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #393939;
}
#userIcon {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border-style: inset;
}
#userInfo {
    width: 80%;
    height: 180px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393939;
}
#innerUserInfo {
    margin: 0px 0px 0px -20px;
    padding: 0px;
    width: 98%;
    height: 135px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a99;
    border-radius: 8px;
}
#userName {
    margin: 0px 0px 0px 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#userName h1 {
    line-height: normal;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
#userName h4 {
    margin: 0px 0px 0px 5px;
    padding: 0px;
    line-height: normal;
}
#userName a, #userOther a {
    color:#a4d9ff;
}
#userOther {
    margin: 0px 20px 0px 0px;
    width: fit-content;
    height: fit-content;
    text-align: right;
}
#userOther h2:last-child {
    display: flex;
    justify-content: space-between;
}
#userOther div {
    margin: 0px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
}

#userContent {
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2% auto auto auto 2%;
}
#userContent table {
    font-size: 20px;
}
#userPatients {
    background-color: #393939;
    margin: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 8px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#userShift {
    background-color: #393939;
    margin: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius: 8px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#userPatients table, #userShift table {
    overflow: hidden;
    margin: 0px 20px 20px 20px;
    width: 85%;
}
#userPatients table , #userShift table{
    text-align: center;
}
#userPatients table td:first-child, #userShift table td:first-child {
    width: 45%;
    text-align: center;
}
#userPatients table th:last-child, #userPatients table td:last-child,
#userShift table th:last-child, #userShift table td:last-child {
    width: 20%;
}
#userPatients thead, #userShift thead {
    color: #a4d9ff;
}
#userPatients a {
    color: #ffe3bb;
}
#userPatients a:hover {
    color: #0095ff;
    transition: 0.25s;
}




/* Reusable */

.genContainer {
    margin: 0px 0px 0px 0px;
    padding: 150px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    min-height: 100%;

    background: url("/images/DashboardBackground.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    color: #ffffff;
}
.genContainerNoUH {
    margin: 0px;
    padding: 150px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    min-height: 100%;

    background: url("/images/DashboardBackground.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    color: #ffffff;
}
.section {
    margin: 30px 0px 30px 0px;
    padding: 0px;
    width: 90%;
    height: fit-content;
    border-radius: 8px;

    background-color: #393939;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.sectionHeader {
    margin: 20px;
    padding: 0px;
    width: 85%;
    height: fit-content;
    border-radius: 8px;

    background-color: #1a1a1a99;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionHeader > h1 {
    margin: 20px;
}

.section table, .sectionContent {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    width: 85%;
    height: fit-content;

    font-size: 20px;
    text-align: center;
}
.section table thead {
    color: #a4d9ff;
}
.section a {
    color: #ffe3bb;
}
.section a:hover {
    color: #0095ff;
    transition: 0.25s;
}

.sectionPatient {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    width: 85%;
    height: fit-content;

    font-size: 25px;
}
.sectionForm {
    margin: 0px;
    padding: 0px;
    width: 85%;
    height: fit-content;

    background-color: red;
}

.buttonEdit {
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: fit-content;

    background-color: #ffe3bb;

    font-size: 15px;
}

#formPopUp {
    display: none;
}
.formContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}
.formContent span {
    margin: 0px 0px 20px 0px;
}
.formContent label {
    margin: 0px 0px 2.5px 0px;
}
.formContent input {
    margin: 0px;
    padding: 0px;

    border-radius: 8px;

    font-size: 20px;
}
.formContent input[type=submit] {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 100px;
    height: 40px;

    background-color: #0095ff;
}